<h3>Criar Cadastro</h3>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <form [formGroup]="studentsaveform" #savestudent (ngSubmit)="saveStudent(saveStudent)">  
          <div class="form-group">  
              <label for="name">Estudante Nome</label>  
              <input type="text" class="form-control"  formControlName="student_name" data-toggle="tooltip"   
                 data-placement="right" title="Enter Student Name" >  
              <div class="alert alert-danger" *ngIf = "(StudentName.touched) && (StudentName.invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="StudentName.errors.required">O nome do aluno é obrigatório</span>  
                    <span *ngIf = "StudentName.errors.minlength">   
                        MinLength Error   
                    </span>                     
                </div>  
          </div>  
    
          <div class="form-group">  
              <label for="name">Estudante Email</label>  
              <input type="text" class="form-control" formControlName="student_email"   
                data-toggle="tooltip" data-placement="right" title="Enter Student Email">  
                <div class="alert alert-danger" *ngIf = "(StudentEmail.touched) && (StudentEmail.invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="StudentEmail.errors.required">O e-mail do aluno é obrigatório</span>  
                    <span *ngIf = "StudentEmail.errors.email">   
                        Invalid Email Format   
                    </span>                     
                </div>  
          </div>  
    
          <div class="form-group">  
              <label for="branch">Estudante Área</label>  
                <select class="form-control" formControlName="student_branch" data-toggle="tooltip"   
                      data-placement="right" title="Select Student Branch">  
                    <option value="null">--Selecione Area--</option>  
                  <option value="B-Tech">B-Tech</option>  
                  <option value="BCA">BCA</option>  
                  <option value="MCA">MCA</option>  
                  <option value="M-Tech">M-Tech</option>  
                </select>  
          </div>  
    
          <button type="submit" class="btn btn-success">Cadastrar</button>  
      </form>  
  </div>  
  </div>  
  <div class="col-sm-4"></div>  
</div>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4">  
      <div [hidden]="!submitted">  
         <h4>Estudante Adicionado com Sucesso!</h4>  
         <button (click)="addStudentForm()" class='btn btn-primary'>Adicionar Mais Estudante</button>  
      </div>        
  </div>  
  <div class="col-sm-4"></div>  
</div>